<launch>

  <arg name="machine" default="localhost" />
  <arg name="user" default="" />
  <arg name="camera" default="camera" />
  <arg name="rgb_frame_id"   default="$(arg camera)_depth_optical_frame" />
  <arg name="depth_frame_id" default="$(arg camera)_depth_optical_frame" />


  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

  <node pkg="skeleton_tracker" type="xtion_tracker" name="skeleton_tracker" respawn="true" output="screen">
  	<param name="camera" type="string" value="/$(arg camera)"/>
  	<param name="rgb_frame" type="string" value="/$(arg rgb_frame_id)"/>
  	<param name="depth_frame" type="string" value="/$(arg depth_frame_id)"/>
  </node>

</launch>
